@model BANDAAV1.Model.Tbbanda

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BandaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bandagenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bandagenero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BandaId">Edit</a> |
    <a asp-action="Index">Lista de Bandas</a>
</div>
