@model BANDAAV1.Model.Tbbanda

@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar Banda</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BandaId" />
            <div class="form-group">
                <label asp-for="BandaNome" class="control-label"></label>
                <input asp-for="BandaNome" class="form-control" />
                <span asp-validation-for="BandaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bandagenero" class="control-label"></label>
                <input asp-for="Bandagenero" class="form-control" />
                <span asp-validation-for="Bandagenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista de Bandas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
